@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  .font-big{
    font-size:25px;
  }
  .lightModeNav{
    background-color: hsl(0, 0%, 100%);
  }
  .lightModeText{
    color:hsl(200, 15%, 8%);
  }
  .lightModeBackground{
    background-color: hsl(0, 0%, 98%);
  }
  .lightNavShadow{
    box-shadow: 0px 20px 20px 10px #cbd5e0;
  }
  .darkModeNav{
    background-color:hsl(209, 23%, 22%);
  }
  .darkModeText{
    color:hsl(0, 0%, 100%);
  }
  .darkModeBackground{
    background-color: hsl(207, 26%, 17%);
  }
  .darkNavShadow{
    box-shadow: 0px 20px 20px 10px #1a202c
  }
  .countryBtnShadowLight{
    box-shadow: 0px 2px 10px 0.2px #cbd5e0
  }
  .countryBtnShadowBlack{
    box-shadow: 0px 2px 10px 0.2px #2d3748
  }
}